/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4162ff;
  --ifm-color-primary-dark: #3857e6;
  --ifm-color-primary-darker: #324fd0;
  --ifm-color-primary-darkest: #2b46b5;
  --ifm-color-primary-light: #5978ff;
  --ifm-color-primary-lighter: #6d89ff;
  --ifm-color-primary-lightest: #8fa6ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* page gradient similar to app */
  --docs-gradient-start: #ffffff;
  --docs-gradient-end: #344cc0;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8fa6ff;
  --ifm-color-primary-dark: #7990e6;
  --ifm-color-primary-darker: #697fd0;
  --ifm-color-primary-darkest: #586bb5;
  --ifm-color-primary-light: #a6b8ff;
  --ifm-color-primary-lighter: #bcc8ff;
  --ifm-color-primary-lightest: #d6dfff;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--docs-gradient-start);
}

#__docusaurus {
  background-image: linear-gradient(180deg, var(--docs-gradient-start) 35%, var(--docs-gradient-start) 75%, var(--docs-gradient-end) 200%);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
